{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Page Content -->
<div class="container">
	<br>
	<form class="form-inline" role="form" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<input type="file" class="form-control" name="pdf" required="">
		</div>
		<button type="submit" class="btn btn-default">Upload</button>
	</form>
	
	{% if context %}
	<h1 class="my-4 text-center text-lg-left">{{ context|length }} Pages</h1>	
	<div class="row text-center text-lg-left">
		{% for page in context %}
		<div class="col-lg-3 col-md-4 col-xs-6">
			<div class="d-block mb-4 h-100">
				<a href="{{ page.url }}">
					<h3>Page {{forloop.counter}}</h3>
					<img class="img-fluid img-thumbnail" src="{{ page.url }}" alt="">
				</a>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="6">{{ page.text }}</textarea>
				{% for number in page.nit %}
					<li>NIT: {{ number }}</li>
				{% endfor %}
				{% for number in page.numeral %}
					<li>Cláusula 3: Numeral {{ number }}</li>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<!-- /.container -->


	
{% endblock %}


